.main {
  transition: all 1s;
  transform: translate(-300vw, 0);
}
.row {
  display: flex;
}
.shapedBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 200px;
  width: 35px;
  word-break: break-all;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 15%, 100% 85%, 75% 100%, 0% 100%);
  transition: all 0.3s;
  line-height: 1.2;
}
.shapedBtnRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 200px;
  width: 35px;
  word-break: break-all;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(100% 0%, 25% 0%, 0% 15%, 0% 85%, 25% 100%, 100% 100%);
  transition: all 0.3s;
  line-height: 1.2;
}
.shapedBtnTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 35px;
  width: 200px;
  word-break: break-all;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 85% 100%, 15% 100%, 0% 75%);
  transition: all 0.3s;
  line-height: 1.2;
}
.left {
  transition: all 1s;
  position: fixed;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  z-index: 5;
  left: 0;
  top: 50%;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  transform: translateY(-50%);
}
.right {
  transition: all 1s;
  text-align: center;
  position: fixed;
  width: fit-content;
  cursor: pointer;
  z-index: 5;
  right: 0;
  top: 50%;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  transform: translateY(-50%);
}
.top {
  transition: all 0.5s;
  position: fixed;
  width: fit-content;
  cursor: pointer;
  z-index: 5;
  top: 0;
  left: 50%;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  transform: translateX(-50%);
}
.bottom {
  transition: all 0.5s;
  background-color: white;
  position: fixed;
  width: fit-content;
  cursor: pointer;
  z-index: 5;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
